<div class="room-header">
  <div>
    <div class="row">
      <div class="col-4 input-search">
        <a class="col-1 navbar-brand" href="#"><i class="bi bi-chevron-compact-left"></i><i class="bi bi-chevron-compact-right"></i></a>
      </div>
      <div class="col-4 input-search">
        <form class="form-inline my-2 my-lg-0">
          <input class=" form-control mr-sm-2 input-search" style="background-color: #272626; border: none;" type="search" placeholder="Pesquisar" aria-label="Search">
        </form>
      </div>
      <div class="col-1 input-search"></div>
      <div style="text-align: center;">
        <a class="col-1 input-search" href="#"><i class="bi bi-three-dots"></i></a>
        <a class="col-1 input-search" href="https://www.linkedin.com/in/wandes-gomes-aa825a171/" target="_blank"><i class="bi bi-person-circle"></i></a>
        <a class="col-1 input-search" href="#"><i class="bi bi-dash"></i></a>
        <a class="col-1 input-search" href="#"><i class="bi bi-subtract"></i></a>
        <a class="col-1 input-search" href="#"><i class="bi bi-x"></i></a>
      </div>
    </div>
  </div>