<ul class="nav flex-column" style=" background-color: #000; height: 100%; margin-left: 0; text-align: center;">
    <li class="nav-item">
      <a class="nav-link active" href="#"><i class="bi bi-bell"></i></a>
      <label for="">Atividade</label>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-chat-text" ></i></a>
      <label for="">Chat</label>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-calendar4-week"></i></a>
      <label for="">Calendario</label>
    </li>
  </ul>
